body {
    background-color:lightcoral;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
}

h1 {
    font-size: 36px;
    text-align: center;
}

button {
    background-color: #292b2c;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}